.first {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.first .overlap-group-wrapper {
    background-color: #ffffff;
    width: 1500px;
    height: 720px;
}

.first .overlap-group {
    position: relative;
    height: 720px;
    background-image: url(./img/beach-1236581-640-1-1.png);
    background-size: cover;
    background-position: 50% 50%;
}

.first .rectangle {
    position: absolute;
    width: 1450px;
    height: 406px;
    top: 286px;
    left: 28px;
    background-color: #ffffff;
    border-radius: 50px;
    opacity: 0.6;
}

.first .div {
    position: absolute;
    width: 1500px;
    height: 85px;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.1;
}

.first .logo-no-background {
    position: absolute;
    width: 113px;
    height: 85px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.first .text-wrapper {
    position: absolute;
    width: 263px;
    top: 580px;
    left: 444px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #1f1f1f;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 44px;
}

.first .text-wrapper-2 {
    position: absolute;
    width: 239px;
    top: 596px;
    left: 816px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 44px;
}

.first .text-wrapper-3 {
    position: absolute;
    width: 289px;
    top: 576px;
    left: 1175px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 44px;
}

.first .text-wrapper-4 {
    position: absolute;
    width: 318px;
    top: 580px;
    left: 67px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 44px;
}

.first .rectangle-2 {
    position: absolute;
    width: 1286px;
    height: 142px;
    top: 112px;
    left: 107px;
    background-color: #ffffff;
    border-radius: 30px;
    opacity: 0.5;
}

.first .p {
    position: absolute;
    width: 834px;
    top: 100px;
    left: 437px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 60px;
    letter-spacing: 0;
    line-height: 44px;
}

.first .beachhh {
    position: absolute;
    width: 241px;
    height: 227px;
    top: 70px;
    left: 121px;
}

.first .mirena {
    position: absolute;
    width: 347px;
    height: 256px;
    top: 312px;
    left: 402px;
    border-radius: 50px;
    object-fit: cover;
}

.first .kanya {
    position: absolute;
    width: 347px;
    height: 256px;
    top: 312px;
    left: 762px;
    border-radius: 50px;
    object-fit: cover;
}

.first .rama {
    position: absolute;
    width: 347px;
    height: 256px;
    top: 312px;
    left: 1121px;
    border-radius: 50px;
    object-fit: cover;
}

.first .mypadu {
    position: absolute;
    width: 347px;
    height: 256px;
    top: 312px;
    left: 42px;
    border-radius: 50px;
    object-fit: cover;
}

.first .vector {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 20px;
    left: 1351px;
}

.first .frame {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 22px;
    left: 1433px;
}

.first .img {
    position: absolute;
    width: 61px;
    height: 61px;
    top: 150px;
    left: 1301px;
}

.first .rectangle-3 {
    position: absolute;
    width: 78px;
    height: 74px;
    top: 633px;
    left: 1414px;
    background-color: #ffffff;
    border-radius: 100px;
}

.first .frame-2 {
    position: absolute;
    width: 63px;
    height: 68px;
    top: 639px;
    left: 1421px;
}

.first .back {
    position: absolute;
    width: 1500px;
    height: 720px;
    top: 0;
    left: 0;
    opacity: 0.80;
    object-fit: cover;
  }
  